In [1]:
import pandas as pd
from sklearn.metrics import r2_score, mean_squared_error
import dill
dill._dill._reverse_typemap['ClassType'] = type

In [2]:
X_test = pd.read_csv("X_test.csv")
y_test = pd.read_csv("y_test.csv")

In [3]:
with open('catboost_pipeline.dill', 'rb') as in_strm:
    pipeline = dill.load(in_strm)

In [4]:
predictions = pipeline.predict(X_test)
pd.DataFrame({'preds': predictions}).to_csv("test_predictions.csv", index=None)

In [5]:
r2_score(y_test, predictions)

0.8888235624315372

In [6]:
mean_squared_error(y_test, predictions)

1325.4286572801545

In [7]:
y_test

      price
0     42.00
1     74.15
2     49.00
3    903.00
4     87.00
..      ...
650  398.00
651  143.00
652   85.00
653  500.00
654   45.00

[655 rows x 1 columns]

In [8]:
X_test

,area,status,bhk,bathroom,age,location,builder
0,509,Ready to move,1,1.0,NaN,Adambakam,Prabha Homes
1,1454,Ready to move,3,NaN,1.0,Kundrathur,MP Developers
2,800,Under Construction,2,2.0,NaN,Kelambakkam,Balamurugan
3,4200,Ready to move,3,NaN,2.0,Royapettah,Vinay Asrani
4,1991,Ready to move,3,3.0,4.0,Oragadam Industrial Corridor,24K Realtors
...,...,...,...,...,...,...,...
650,2650,Ready to move,5,5.0,NaN,West Mambalam,seller
651,1990,Ready to move,3,NaN,6.0,Iyappanthangal,Prestige Estates Projects Ltd
652,1234,Ready to move,2,2.0,2.0,Vengaivasal,ARB HOMES
653,3000,Ready to move,4,4.0,NaN,Shenoy Nagar,seller
654,840,Ready to move,2,2.0,7.0,Singaperumal Koil,seller

In [17]:
d={'location': ['Vengaivasal',], 'builder': ['MP Developers',], 'area': [756,], 'age': [1.0,]}
test = pd.DataFrame(data=d)

In [18]:
pipeline.predict(test)

array([44.71647547])